{% extends 'base.html.twig' %}

{% block title %}Humidity index{% endblock %}

{% block body %}
    <h1>Humidity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SensorId</th>
                <th>IsOn</th>
                <th>HumidityLevel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for humidity in humidities %}
            <tr>
                <td>{{ humidity.id }}</td>
                <td>{{ humidity.sensorId }}</td>
                <td>{{ humidity.isOn ? 'Yes' : 'No' }}</td>
                <td>{{ humidity.humidityLevel }}</td>
                <td>
                    <a href="{{ path('app_humidity_show', {'id': humidity.id}) }}">show</a>
                    <a href="{{ path('app_humidity_edit', {'id': humidity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_humidity_new') }}">Create new</a>
{% endblock %}
