{% extends 'base.html.twig' %}

{% block title %}Humidity{% endblock %}

{% block body %}
    <h1>Humidity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ humidity.id }}</td>
            </tr>
            <tr>
                <th>SensorId</th>
                <td>{{ humidity.sensorId }}</td>
            </tr>
            <tr>
                <th>IsOn</th>
                <td>{{ humidity.isOn ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>HumidityLevel</th>
                <td>{{ humidity.humidityLevel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_humidity_index') }}">back to list</a>

    <a href="{{ path('app_humidity_edit', {'id': humidity.id}) }}">edit</a>

    {{ include('humidity/_delete_form.html.twig') }}
{% endblock %}
